body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #2F1C53, #A46DFF, #F6D1FD);
}

h1 {
    color:blanchedalmond;
    font-family: 'Nunito', sans-serif;
}

form {
    color: blanchedalmond;
}

footer {
    color:#F0FFFF;
    font-size: 80%;
}